In [56]:
import pandas as pd

In [57]:
data = pd.read_csv('simpsons.tsv', sep='\t')
CHARACTER_NAME = 'Homer Simpson'
print(len(data))
data.head()
data[data['line'] == 'Man, buffalo are easy to kill.']
data.iloc[60430:60441]

140751

,name,line
60430,Marge Simpson,NaN
60431,Paul Bunyan,We've been together a long time now. When are ...
60432,Marge Simpson,Soon. I just need a few more yoga classes.
60433,Marge Simpson,"Oh, look! A shooting star!"
60434,Professor Jonathan Frink,"That meteor's headed straight for us, with the..."
60435,Rev. Timothy Lovejoy,God has sent this fiery killrock to show us hi...
60436,Villagers,"No, we're gonna die! / Oh no! /"
60437,Mayor Joe Quimby,There's only one man who can save us...
60438,Homer Simpson,"Man, buffalo are easy to kill."
60439,Paul Bunyan,"Oh, I get it. When I'm crushing and killing yo..."
60440,Lenny Leonard,"Yeah, that's pretty much it."

In [58]:
contexted = []

n = 1

for i in data[data.name == CHARACTER_NAME].index:
  if i < n:
    continue
  row = []
  prev = i - 1 - n # we additionally substract 1, so row will contain current responce and 7 previous responces  
  for j in range(i, prev, -1):
    row.append(data.line[j])
  contexted.append(row)

# print(len(contexted))

columns = ['completion', 'prompt'] 

df = pd.DataFrame.from_records(contexted, columns=columns)

In [59]:
len(df)

29842

In [60]:
df = df.dropna()
len(df)

26423

In [61]:
df.sample(6)

,completion,prompt
5254,Lisa! Lisa!,I'm Sergeant Pepper's Lonely Hearts Club Man.....
23419,Dave?,"No man, I'm Dave. D-A-V-E!"
21001,"Here you go, son. Shell casings.",Daddy's home! I brought you kids some stuff fr...
19264,"Whoa, Marge, who'd you piss off?",Dear Pus Bag...
18270,You want me to ride a whatsickle built for who?,I'll take it! I can't believe I own a tandem b...
22290,"Uh-oh, here comes a train.",I'm almost there... I can see the church steep...

In [64]:
df.keys()

Index(['completion', 'prompt'], dtype='object')

In [65]:
df.to_csv('simpsons_openai.tsv', sep='\t',index=False)

In [66]:
pd.read_csv('simpsons_openai.tsv',sep='\t').head()

,completion,prompt
0,Never thrown a party? What about that big bash...,"Goodbye, Lisa honey. It'll be okay. Just read ..."
1,"Bart didn't get one vote?! Oh, this is the wor...",Never thrown a party? What about that big bash...
2,Oh.,Mr. Bergstrom left today.
3,And?,He's gone. Forever.
4,"Hey, just because I don't care doesn't mean I ...",I didn't think you'd understand.